<header class="navbar navbar-light bg-primary">
    <a class="navbar-brand" href="/"><img src="https://cdn.iconscout.com/icon/free/png-512/walmart-3-569589.png" alt=""></a>
    <form class="form-inline" method="GET" action="/search">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar" name="term">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Buscar</button>
    </form>
</header>