<div class="content row align-items-center">
  <div class="col"></div>
  <div class="col-8">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">¡Lo sentimos!</h5>
        <p class="card-text">No encontramos resultados para tu búsqueda de "<%= term %>"</p>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>