html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.content {
  flex: 1 0 auto;
  margin-top: 2rem;
}

.content .product-title {
  font-weight: bold;
}

.content .product-offer-price, .content .product-price {
  font-size: 1.2rem;
  color: #565656;
  font-weight: 700;
  display: inline-block;
}

.content .product-price-disccount {
  text-decoration: line-through;
  font-size: 0.8rem;
}

.content .offer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer {
  flex-shrink: 0;
}

#loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 5.6rem;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}